/* MOBILE DEVICES */
@media only screen and (max-width: 280px) {
    html {
        font-size: 13px;
    }
    .aside-carousel .item {
        width: 17rem;
    }
    .aside-carousel {
        height: 18rem;
    }
    aside .bubble.half {
        width: 48.4%;
    }
    aside .socials i {
        font-size: .9rem;
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
    }
    .aside-slide4 h5 {
        font-size: .8rem;
        line-height: 1rem;
    }
    .mobile-contents ul li {
        height: 3.5rem;
        font-size: .9rem;
        line-height: 1.2rem;
    }
    .detailed-info {
        padding: 1rem .8rem;
    }
    h2 {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 390px) {
    html {
        font-size: 17px;
    }
    .aside-carousel .item {
        width: 18rem;
    }
    .aside-carousel {
        height: 18.5rem;
    }
    .aside-slide4 h5 {
        font-size: .8rem;
        line-height: 1rem;
    }
    .mobile-contents ul li {
        height: 3rem;
        font-size: .85rem;
        line-height: 1rem;
    }
    .info-card h3 {
        font-size: 1.2rem;
    }
    .info-card p {
        font-size: .95rem;
    }
    .info-card .icon-container {
        width: 3.5rem;
        height: 3.5rem;
    }
    .info-card {
        height: 15rem;
    }
    .accordion {
        font-size: 1rem;
    }
    .acc-item .answer {
        font-size: .85rem;
        line-height: 1.2rem;
    }
}

@media only screen and (min-width: 410px) {
    .aside-carousel .item {
        width: 20rem;
    }
    .aside-carousel {
        height: 20rem;
    }
    .aside-slide1 .decoration {
        left: -2rem;
    }
    .profile-card {
        width: 22rem;
    }
    .candidate-profiles {
        padding-left: 1rem;
    }
    .hero-section {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}


/* TABLETS */
@media only screen and (min-width: 500px) {
    html {
        font-size: 18px;
    }
    .hero-section {
        padding: 2rem 2rem 2.5rem;
    }
    .hero-image, .hero-text {
        max-width: 25rem
    }
    .main-content-1 {
        padding: 3rem 2rem;
    }
    aside {
        width: 26rem;
    }
    .detailed-info {
        padding: 1rem 1.5rem;
    }
    aside .item, aside .share-job {
        width: 24rem;
        margin: 1rem auto;
    }
    aside .share-job p {
        font-size: .85rem;
    }
    .info-section, .why-join-olibr, .faq, .hiring-funnel, .banner {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .features, .interview-questions {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .mobile-contents-header {
        font-size: .9rem;
        margin-top: 1.5rem;
    }
    .detailed-info {
        margin-top: 2rem;
    }
}


@media only screen and (min-width: 700px) {
    .main-content-1, .info-section, .hiring-funnel, 
    .why-join-olibr, .banner, .faq, aside {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    .candidate-carousel {
        width: 70%;
        margin: 2rem auto;
    }
    .profile-card {
        padding-top: 1.5rem;
    }
    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .interview-questions .accordion {
        margin-bottom: 0;
    }
    .hiring-funnel, .why-join-olibr {
        padding-top: 4rem;
        padding-bottom: 5rem;
    }
    .banner-img img {
        width: 20rem;
    }
    aside {
        width: 50%;
        padding: .7rem .7rem 2rem;
    }
    .aside-carousel .item {
        width: 19rem;
    }
    aside .item {
        width: 100%;
    }
    .aside-slide2 {
        gap: 1rem;
    }
    .aside-slide4 {
        gap: .7rem;
    }
}

@media only screen and (min-width: 768px) {
    .hero-section {
        /* width: 100%; */
        flex-direction: row;
        gap: 0;
        min-height: 50vh;
        margin-top: 0;
    }
    .hero-text h1 {
        font-size: 2rem;
        line-height: 2.7rem;
    }
    .hero-text p {
        font-size: 1rem;
        line-height: 1.7rem;
    }
    .hero-image {
        width: 70%;
        max-width: 30rem;
    }
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .main-content-1 {
        width: 65%;
        padding-top: 5rem;
        padding-left: 2rem;
        /* background-color: olive; */
    }
    .main-content-2 {
        order: 3;
        flex-basis: 100%;
    }
    .candidate-carousel {
        width: 100%;
    }
    aside {
        width: 30%;
        max-width: 16rem;
        padding-top: .5rem;
        margin-right: 2rem;
        margin-top: 5rem;
    }
    .aside-carousel {
        width: 100%;
        height: max-content;
        overflow-x: hidden;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .aside-carousel .carousel-inner-wrapper {
        flex-direction: column;
        width: 100%;
    }
    .aside-carousel .item {
        width: 100%;
        margin-top: 0;
    }
    aside .aside-slide1 {
        height: 17rem;
    }
    .aside-slide1 h4{
        margin-top: 1rem;
    }
    .aside-slide1 .img-block {
        bottom: 1rem;
    }
    .aside-slide1 img {
        right: 1rem;
    }
    .aside-slide1 .decoration {
        left: 1rem;
    }
    .aside-slide2, .aside-slide4 {
        height: max-content;
    }
    aside .stacks {
        margin-top: -1.2rem;
    }
    aside .bubble.half {
        width: 48%;
        padding-right: 0rem;
    }
    aside .bubble p {
        font-size: .5rem;
    }
    aside .bubble {
        padding-left: .3rem;
    }
    aside .item form input,
    aside .item form textarea,
    aside .share-job p {
        font-size: .6rem;
    }
    aside .socials i {
        font-size: .7rem;
        margin-right: 0px;
        width: 1.2rem;
        height: 1.2rem;
        line-height: 1.2rem;
    }
    aside .share-job {
        width: 100%;
        gap: 5px;
    }
    .banner  {
        flex-direction: row;
        gap: 1rem;
        padding-top: 0;
        padding-bottom: 1.4rem;
    }
    .info-section {
        margin-top: 3rem;
    }
    .mobile-contents {
        display: none;
    }
    .desktop-contents {
        display: block;
    }
    .info-section {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .detailed-info {
        width: 57%;
    }
    .info-section .desktop-contents {
        width: 38%;
        margin-top: 2rem;
    }
    .info-section .desktop-contents h3 {
        font-size: 1rem;
    }
}


/* DESKTOP */
@media only screen and (min-width: 855px) {
    .mobile-menu {
        display: none;
    }
    .desktop-menu {
        display: flex;
    }
    header {
        width: 100%;
        height: 5.5rem;
        padding: 1.3rem 1rem;
    }
}

@media only screen and (min-width: 1024px) {
    .hero-section {
        width: 100%;
        /* padding-left: 10vw; */
        /* padding-right: 10vw; */
        gap: 1rem;
    }
    .hero-text, .hero-image {
        max-width: none;
    }
    .hero-image {
        display: flex;
        justify-content: flex-end;
    }
    .hero-image img {
        max-width: 26rem;
    }
    .main-content-1 {
        width: 68%;
        padding-right: 1.5rem;
        /* padding-left: 5vw; */
    }
    .candidate-carousel {
        width: 100%;
        height: max-content;
        padding: 0;
    }
    .carousel-inner-wrapper {
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 0;
    }
    .profile-card {
        width: 48%;
        max-width: 27rem;
        height: max-content;
        max-height: 32rem;
        margin: 0 0 1rem 0;
    }
    .carousel-indicator {
        display: none;
    }
    aside .bubble p {
        font-size: .6rem;
    }
    .info-section .contents {
        /* width: 45%; */
    }
    .banner {
        justify-content: space-between;
    }
    .faq .accordion {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10rem;
        gap: 2rem;
    }
    .faq .col-1 .acc-item:last-of-type hr {
        display: none;
    }
    .features .features-list {
        flex-direction: column;
    }
    .features .icons {
        display: flex;
        justify-content: space-around;
    }
    .features .text {
        width: 70%;
        height: max-content;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        border-left: 0;
        border-top: 1px dashed #49a1aa;
        margin: -2.2rem auto 0;
        padding-left: 0;
        padding-top: 3rem;
        text-align: center;
    }
    .features .text p {
        width: 13rem;
    }
    .features .text p:first-of-type {
        position: relative;
        left: -12%;
    }
    .features .text p:last-of-type {
        position: relative;
        right: -13%;
    }
    .features h2 {
        text-align: center;
    }
    .info-section {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .interview-questions {
        padding-bottom: 0;
    }
    .interview-questions, .features {
        margin-top: 2rem;
    }
    .accordion {
        font-size: .9rem;
    }
    .acc-item .answer {
        font-size: .8rem;
        line-height: 1.2rem;
    }
    .desktop-contents ul li {
        font-size: .9rem;
        margin-top: 1rem;
        line-height: 1.3rem;
    }
    .info-section .desktop-contents {
        width: 35%;
        /* background-color: pink; */
    }
    .detailed-info {
        width: 62%;
    }
    .faq a {
        font-size: .9rem;
    }
    .faq .accordion {
        margin-bottom: 3rem;
    }
    .info-card h3 {
        font-size: 1rem;
    }
    .info-card p {
        font-size: .9rem;
    }
    .hiring-funnel .deck {
        display: flex;
        gap: .8rem;
    }
    /* .hiring-funnel .info-card {
        max-width: 23rem;
    } */
    .why-join-olibr .info-card {
        width: 49%;
    }
    .why-join-olibr .deck {
        display: flex;
        flex-basis: 50%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .why-join-olibr .info-card:nth-of-type(3) {
        background-color: white;
    }
    .why-join-olibr .info-card:nth-of-type(4) {
        background-color: #ebfcfe2a;
    }
}
@media only screen and (min-width: 1200px) {
    .hero-section {
        padding-left: 8vw;
        padding-right: 8vw;
    }
    .main-content-1 {
        padding-left: 8vw;
    }
    aside {
        margin-right: 8vw;
    }
    .info-section, .hiring-funnel, .banner, .why-join-olibr, .faq {
        padding-left: 8vw;
        padding-right: 8vw;
    }
    .faq .accordion{
        margin-bottom: 4rem;
    }
} 
@media screen and (min-width:1300px) {
    .hero-text h1 {
        font-size: 2.8rem;
        line-height: 4rem;
    }
    .hero-text p {
        font-size: 1.2rem;
        line-height: 2rem;
    }
    .hero-section {
        padding-top: 5rem;
        padding-bottom: 6rem;
    }
    .features {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    .info-section, .hiring-funnel, .why-join-olibr, .faq {
        padding-top: 5rem;
        padding-bottom: 6rem;
    }
}
@media only screen and (min-width: 1325px) {
    .hero-section, .info-section, .hiring-funnel, .why-join-olibr, .banner, .faq {
        padding-left: 11vw;
        padding-right: 11vw;
    }
    .main-content-1 {
        padding-left: 11vw;
        width: 67%;
    }
    aside {
        margin-right: 11vw;
    }
}
@media only screen and (min-width: 1440px) {
    aside {
        max-width: 17rem;
    }
}
@media screen and (min-width:2560px) {
    html {
        font-size: 30px;
    }
}
