/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GENERAL */
html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body {
    overscroll-behavior: none;
}

/* buttons */
.btn {
    text-decoration: none;
    display: inline-block;
    width: 7rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: white;
    background-color: #49a1aa;
    border-radius: .2rem;
}
.btn-grey {
    background-color: #6d6e6d;
}
.btn-blank {
    background-color: white;
    color: #49a1aa;
    border: 1px solid #49a1aa;
}

/* carousel */
.carousel-outer-wrapper {
    width: 100%;
    display: flex;
    overflow: auto;
}
.carousel-inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

/* accordion */
.acc-item i {
    font-size: .7rem;
}
.accordion {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1.7rem 0 1.3rem;
    font-size: .85rem;
}
.hide {
    display: none;
}
.acc-item .question {
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: .6rem;
    color: #271a3e;
    cursor: pointer;
    font-size: .8rem;
}
.acc-item hr {
    margin: 1.5rem 0 1.5rem 1.2rem;
    border: 1px solid #ebecf3;
}
.acc-item .answer {
    margin-left: 1.2rem;
    color: #382d4b;
    margin-top: .2rem;
    font-size: .75rem;
    line-height: 1rem;
    text-align: justify;
}

/* info-card */
.info-card {
    width: 100%;
    height: 13rem;
    border: .5rem solid #ebfcfe;
    /* background-color: #ebfcfe00; */
    margin-top: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    /* background: linear-gradient(135deg,
    #eb5c3a 7%,
    #fff 7%,
    #fff 93%, 
    #49a1aa 0);  */
}
.info-card img {
    width: 2rem;
}
.info-card .icon-container {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .3rem;
    background-color: #e2f7f9;
    border-radius: .5rem;
}
.info-card h3 {
    font-size: 1rem;
    color: #07244e;
}
.info-card p {
    font-size: .8rem;
    text-align: center;
    color: #24404e;
    width: 90%;
}

/* HEADER */
header {
    width: 100vw;
    height: 4rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dcdcdc;
}
.logo img {
    width: 7rem;
}
#open-menu-icon  {
    color: #6e6e6e;
    margin-top: -.5rem;
    font-size: 1.5rem;
}
.mobile-menu {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    padding-left: .8rem;
}
#close-menu-icon {
    float: right;
    color: #bfbfbf;
    font-size: 1.5rem;
}
.mobile-menu #menu-offcanvas {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: -100vw;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
}
.mobile-menu .mob-menu-content {
    background-color: white;
    width: 60%;
    height: 100%;
    padding: 1rem .7rem;
}
.close-icon-container {
    width: 40%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem;
}
.mobile-menu .login {
    display: flex;
    flex-direction: column;
}
.mobile-menu .login .btn {
    width: 100%;
    margin-top: 1rem;
}
.mobile-menu li {
    margin-top: 1rem;
}
.mobile-menu .logo {
    margin-left: -.5rem;
}
header nav ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: .2rem;
}

/* desktop menu */
.desktop-menu {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.desktop-menu ul {
    display: flex;
    gap: 1rem;
}


/* MAIN SECTION */
.main-content-1, .main-content-2, aside, .hero {
    width: 100%;
}
.main-content-2 {
    background-color: green;
}


/* MAIN CONTENT 1 SECTION */
.main-content-1 {
    padding: 2rem 1rem;
    background-color: orange;
}
h2 {
    font-weight: 500;
    color: #271a3e;
    text-transform: capitalize;
}

/* INTRO SECTION */
.intro .details {
    color: #271a3e;
    font-weight: 300;
    margin-left: 1.2rem;
    font-size: .9rem;
}
.intro .details li {
    margin-top: .25rem;
}
.intro .details li span {
    font-weight: 500;
}
.intro .details li::marker {
    color: #90d7de;
    font-size: 1.2rem;
}

/* profile card */
.candidate-carousel {
    margin-top: 1.5rem;
    height: 30rem;
    background-color: #f8f8fd;
    box-shadow: -5px -7px 17px 5px #f8f8fd, 5px 40px 17px 5px #f8f8fd;
}
.profile-card {
    width: 20rem;
    height: 28.4rem;
    margin-right: 1rem;
    background-color: #f8f9fe;
    border: 1.5px solid #e8ebfd;
    border-radius: .5rem;
    padding: 1.2rem 1.45rem;
}
.profile-card .basic-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.profile-card .basic-info img {
    width: 4rem;
    height: 4rem;
    border-radius: 2.5rem;
}
.profile-card .basic-info h3 {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: .5px;
}
.profile-card .basic-info h4 {
    font-size: .8rem;
    font-weight: 400;
}
.profile-card .experience {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .8rem;
    margin-top: 1.1rem;
}
.profile-card .experience i {
    color: #39454c;
    font-size: .8rem;
    margin: 0 .4rem 0 .1rem;
}
.profile-card .experience .colored {
    color: #70e1a4;
}
.profile-card .experience .colored i {
    color: #70e1a4;
    font-size: .4rem;
    position: relative;
    top: -.1rem;
    margin-right: .2rem;
}
.profile-card .verified-skills {
    margin-top: .9rem;
}
.profile-card h5 {
    font-weight: 400;
    font-size: .7rem;
    margin-bottom: .5rem;
}
.profile-card .verified-skills .verified-skill {
    width: 100%;
    height: 2.5rem;
    background-color: #d4f1f4;
    border: 1px solid #bfe9ed;
    border-radius: .4rem;
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.profile-card .verified-skills .verified-skill .skill {
    display: flex;
    align-items: center;
    gap: .7rem;
    font-weight: 600;
    font-size: .8rem;
}
.md-icons {
    width: 1.5rem;
}
.small-logos {
    width: 1rem;
}
.profile-card .other-skills {
    margin-top: 1.2rem;
    margin-bottom: 0;
}
.profile-card .other-skills .skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-top: -.4rem;
}
.bubble {
    width: max-content;
    height: 1.5rem;
    border-radius: 1rem;
    border: 1px solid #dee8f5;
    background-color: white;
    display: flex;
    align-items: center;
    gap: .3rem;
    margin-top: .25rem;
    font-size: .67rem;
    font-weight: 300;
    padding: .3rem .5rem;
}
.profile-card .other-skills .bubble-colored {
    background-color: #edf5fd;
}
.profile-card .btn {
    width: 100%;
    margin-top: 1.45rem;
    font-size: .8rem;
    border-radius: .4rem;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.profile-card .btn:hover {
    background-color: #49a1aa;
    color: white;
}
.candidate-carousel::-webkit-scrollbar {
    display: none;
}
.carousel-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    margin: 1rem 0 1rem;
}
.carousel-indicator .circle {
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background-color: #bfe9ed;
}
.carousel-indicator .current-slide {
    background-color: #49a1aa;
}


/* FEATURES SECTION */
.features {
    padding: 4rem 0rem;
    text-transform: none;
}
.features img {
    width: 2.5rem;
}
.features .features-list {
    display: flex;
}
.features p {
    margin-bottom: 0;
    height: max-content;
}
.features .text {
    margin-top: 3rem;
    margin-left: -2.5rem;
    padding-left: 3.2rem;
    color: #271a3e;
    font-weight: 400;
    font-size: .9rem;
    height: 16.7rem;
    border-left: 1px dashed #49a1aa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -1;
}
.features .icons div {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.features .icons div:nth-of-type(1) {
    background-color: #edfdfe;
    border: 1px solid #e0effe;
}
.features .icons div:nth-of-type(2) {
    background-color: #fffbf0;
    border: 1px solid #fef9ea;
    padding-left: .5rem;
}
.features .icons div:nth-of-type(3) {
    background-color: #fcf3f3;
    border: 1px solid #fdf5f5;
}

.section-divider {
    width: 40%;
    height: .5rem;
    margin: 0rem auto;
    background-color: #49a1aa;
    border: none;
}

.interview-questions {
    padding-top: 4rem;
    padding-bottom: 2rem;
}


/* MAIN CONTENT 2 SECTION */
/* INFO SECTION */
.info-section {
    background-color: #f8f9ff;
    padding: 2rem 0rem 3rem;
}
.info-section h2 {
    padding: 0 1rem;
}
.mobile-contents {
    position: sticky;
    top: 0;
}
.mobile-contents-header {
    background-color: #49a1aa;
    border: 1px solid #49a1aa;
    color: white;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .8rem;
    line-height: 1rem;
    font-weight: 400;
    gap: 1rem;
    margin-bottom: 0;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
}
.mobile-contents-header img {
    width: 1.5rem;
}
.mobile-contents-header i {
    font-size: 1rem;
}
.mobile-contents ul {
    padding: .3rem 0 1rem;
    margin-top: 0;
    display: none;
    background-color: #d4f1f4;
    width: 100%;
    height: calc(100vh - 3.5rem);
}
.mobile-contents ul li {
    list-style: none;
    position: relative;
    height: 2.5rem;
    padding-left: 2.5rem;
    font-size: .8rem;
    color: #49a1aa;
    display: flex;
    align-items: center;
}
.mobile-contents ul li::before {
    content: "\2022";
    padding-right: 1.5rem;
    color: #687076;
    position: absolute;
    font-size: 1.5rem;
    left: 1.2rem;
}
.active {
    color: black !important;
}
.mobile-contents ul li:has(.active)::before {
    color: black;
}
.desktop-contents ul li:has(.active)::before {
    color: #eb5c3a;
}
.desktop-contents {
    display: none;
}
.desktop-contents h3 {
    color: black;
    font-family: 'Poppins', sans-serif;
}
.desktop-contents ul {
    width: 100%;
    margin-left: .3rem;
    font-size: .75rem;
    line-height: .9rem;
    margin-top: -.5rem;
    position: relative;
}
.desktop-contents ul li {
    list-style: none;
    position: relative;
    padding-left: 1.2rem;
}
.desktop-contents ul li::before {
    content: "\2022";
    color: #dadada;
    position: absolute;
    font-size: 2rem;
    left: -.4rem;
}
.desktop-contents ul::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: calc(100% - 2.5rem);
    background: repeating-linear-gradient(
        transparent, 
        transparent 3px,
        #dadada 3px,
        #dadada 10px
    );
    position: absolute;
    left: 0;
    top: .5rem;
}

.desktop-contents h3 {
    font-size: 1rem;
    font-weight: 600;
}
.detailed-info h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.info-section ul li,
.info-section ul li a {
    color: #687076;
    text-decoration: none;
}

.detailed-info {
    width: 100%;
    height: 40rem;
    background-color: white;
    border-radius: .5rem;
    padding: 1rem;
    overflow: scroll;
}
.detailed-info .topic {
    margin-bottom: 3rem;
    scroll-margin-top: 4rem;
}
.detailed-info .topic p {
    font-size: .8rem;
    line-height: 1.4rem;
    color: #271a3e;
    font-weight: 300;
    margin-bottom: 1.1rem;
    text-transform: capitalize;
}
.detailed-info .topic h4 {
    font-size: .8rem;
    font-weight: 500;
    color: #24575e;
    text-transform: capitalize;
}
.info-section-break {
    width: 100%;
    height: .2rem;
    background-color: lightgray;
    border: none;
    margin: 3rem 0;
}

/* HIRING FUNNEL SECTION & WHY JOIN SECTION */
.hiring-funnel, .why-join-olibr {
    padding: 2.2rem 1rem 3rem;
}
.hiring-funnel {
    display: grid;
    justify-content: center;
}
.hiring-funnel h2 {
    width: 100%;
    text-align: left;
}
.hiring-funnel .info-card {
    width: 100%;
    text-align: center;
}
.hiring-funnel .info-card:nth-of-type(2) {
    background-color: #ebfcfe2a;
}
.why-join-olibr .info-card {
    max-width: 40rem;
}
.why-join-olibr .info-card:first-of-type, 
.why-join-olibr .info-card:nth-of-type(3) {
    background-color: #ebfcfe2a;
}

/* BANNER SECTION */
.banner {
    background-color: #ecf3fe;
    padding: 2rem 1rem 2.5rem;
}
.banner-img img {
    margin-top: 2rem;
    width: 100%;
}
.banner-text p {
    margin: .5rem 0 1rem;
}
.banner-text .btn {
    background-color: #eb5c3a;
    width: 60%;
    border-radius: .7rem;
    font-size: .9rem;
}
.banner h2 {
    font-weight: 600;
    color: black;
    font-size: 1.5rem;
}

/* FAQ SECTION */
.faq {
    padding: 2rem 1.5rem 3rem 1rem;
    text-transform: capitalize;
    background-color: #ecf3fe;
}
.faq a {
    color: #49a1aa;
    text-decoration: none;
    font-size: .8rem;
    text-transform: uppercase;
    display: inline-block;
}
.faq a span {
    text-transform: lowercase;
}
.faq .acc-item {
    overflow: hidden;
}
.faq .acc-item hr {
    border: 1px solid rgba(211, 211, 211, 0.6);
}
.faq .accordion {
    margin-bottom: 2rem;
}


/* ASIDE SECTION */
aside {
    width: 90%;
    height: max-content;
    /* background-color: #f8f8fb; */
    background-color: yellow;
    border: 1px solid #e6ebfe;
    padding: 1rem 1rem 3rem;
    margin: 3rem auto;
    font-size: .8rem;
}
aside img {
    width: 100%;
}
aside .item {
    border: 1px solid #e5e9fe;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    text-align: center;
}
aside .btn {
    text-transform: uppercase;
    width: 90%;
    margin-bottom: .5rem;
    height: 1.9rem;
    line-height: 1.8rem;
    font-size: .7rem;
    border-radius: 0;
}
.aside-carousel {
    height: 19rem;
    overflow-y: hidden;
}
.aside-carousel .item {
    width: 19rem;
    margin-right: 1rem;
}
aside .aside-slide1 {
    height: 100%;
    background-color: #51afac;
    color: white;
    text-align: center;
    overflow: hidden;
}
.aside-slide1 h4 {
    font-weight: 400;
    font-size: .8rem;
    width: 80%;
    margin-top: 2rem;
}
.aside-slide1 hr {
    width: 50%;
    border: 1px solid white;
    margin-top: .8rem;
    margin-bottom: .8rem;
}
.aside-slide1 p {
    font-size: .7rem;
    font-weight: 300;
    width: 80%;
    margin-bottom: 1.5rem;
}
.aside-slide1 .img-block {
    display: flex;
    position: relative;
    bottom: 0;
}
.aside-slide1 img {
    width: 13rem;
    position: relative;
    bottom: 1.5rem;
    right: -1.2rem;
}
.aside-slide1 .decoration {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background-color: #96f6e6;
    position: relative;
    bottom: -2rem;
    left: -1rem;
}
aside .item p {
    width: 80%;
    font-size: .75rem;
    margin-bottom: .6rem;
}
.aside-slide2 {
    height: 100%;
    justify-content: center;
}
.aside-slide2 p {
    padding: .3rem 0;
    font-weight: 500;
}
.aside-slide3 {
    padding: 1rem 0 .5rem;
}
.aside-slide3 i {
    font-size: .6rem;
    margin-left: .2rem;
    margin-top: -.2rem;
}
.aside-slide4 {
    height: 100%;
}
.item.aside-slide4 .btn {
    margin-bottom: .7rem;
}
.item.aside-slide4 p {
    width: 90%;
    font-weight: 300;
    font-size: .68rem;
    text-align: left;
    margin: .7rem auto;
}
.aside-slide4 h5 {
    text-align: left;
    width: 90%;
    margin: .5rem auto .3rem;
}
aside .stacks h4,
aside .quick-entry-form h4 {
    width: 90%;
    text-align: left;
    font-weight: 500;
}
aside .stacks {
    margin-top: 1rem;
    padding: 1rem 0;
}
aside .stacks .featured-skills,
aside .stacks .featured-stacks {
    width: 90%;
}
aside .stacks .featured-stacks {
    margin-top: 1rem;
}
aside .stacks i {
    color: red;
    font-size: .8rem;
    margin-left: .3rem;
}
aside .x-small-logos {
    width: .8rem;
}
aside .bubble p {
    margin-bottom: 0;
    font-size: .65rem;
    font-weight: 300;
    text-align: left;
}
aside .bubble {
    border-radius: 0;
    height: 1.9rem;
}
aside .skills-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 1rem;
    column-gap: .35rem;
    row-gap: .2rem;
    margin: .5rem auto;
}
aside .bubble.full {
    width: 100%;
    margin-right: 0;
}
aside .bubble.half {
    width: 48.8%;
    padding-right: 1.2rem;
}
aside .quick-entry-form h4 {
    font-weight: 600;
    margin: .5rem auto;
}
aside .item form {
    width: 90%;
}
aside .item form input,
aside .item form textarea {
    width: 100%;
    margin-bottom: .5rem;
    padding: .2rem .5rem;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: .7rem;
    border: 1px solid #e6ebfe;
}
aside .item form input {
    height: 2rem;
}
aside .item form textarea {
    height: 4.5rem;
    resize: none;
}
aside .item form input::placeholder,
aside .item form textarea::placeholder {
    color: #a5a8b4;
}
aside .item form button {
    border: none;
    width: 100%;
    text-transform: none;
    margin: .15rem 0 1.2rem;
}
aside .share-job {
    display: flex;
    align-items: center;
    gap: 1rem;
}
aside .share-job p {
    font-size: .7rem;
    color: #b3aea9;
    font-weight: normal;
}
aside .socials i {
    font-size: 1rem;
    line-height: 1.7rem;
    text-align: center;
    margin-right: .5rem;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    color: white;
    background-color: #b3aea9;
}
aside .socials i.fa-facebook-f {
    background-color: #0866FF;
}
aside .socials i.fa-linkedin-in {
    background-color: #0072b1;
}
aside .socials i.fa-twitter {
    background-color: #00acee;
}
aside .socials i.fa-whatsapp {
    background-color: #59ce72;
}
